.w-page-question {
  .back-button {
    margin-top: 50px;
    text-align: center;
    a {
      padding: 10px 30px 10px 25px;
      font-weight: bold;
      font-size: 1.125rem;
      color: $color-white;
      background-color: $color-main-medium;
      border: 2px solid $color-main;
      border-radius: 10px;
      &:hover {
        color: $color-main;
        &::before {
          border-color: $color-main;
        }
      }
      &::before {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%) rotate(45deg);
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-top: 3px solid $color-white;
        border-right: 3px solid $color-white;
        z-index: calc(#{map-get($layer, 'default')} + 2);
      }
    }
  }
}