$color-text: #333;
$color-main: #003865;
$color-main-medium: #97BEDD;
$color-main-light: #E0EBF5;
$color-line: #003865;
$color-white: #fff;
$color-red: #BB0009;
$color-link-blue: #008DB7;
$color-link-green: #12862B;
$color-orange: #FF9A50;
$color-yellow: #F6C863;
$color-milky: #FFFDED;
$color-logo-yellow: #FEFF00;
$color-twitter: #1DA1F2;
